// mixins
@mixin page-contents-padding($page-contents) {
  margin-left: $page-contents;
  margin-right: $page-contents;
  border: $border-grid;
}
@mixin rol-col-styles($percent) {
  width: $percent;
}
@mixin nav-link {
  text-decoration: none;
  padding: $button;
  // margin-left: 100px;
  font-family: $font;
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 6px;
}
@mixin row-padding {
  margin-top: 10px;
  margin-bottom: 10px;
}
@mixin author {
  font-size: 10px;
  font-family: $font;
}
@mixin bg-img($background-image) {
  background-image: url($background-image);
  background-size: 30%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30%;
}
@mixin topic-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 30%;
  padding-bottom: 30%;
}
@mixin full-page-nav {
  position: relative;
  height: 10vh;
  background-color: white;
}
@mixin nav-chevron {
  top: 45vh;
  position: fixed;
  font-size: 50px;
  color: orange;
}
